In [1]:
import pandas as pd

In [5]:
#carregamento dos dados
df = pd.read_csv(r"C:\Users\mel_p\Downloads\brasileirao (1).csv")

#visualizar os dados
df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9
...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20

In [9]:
#criando novas estatísticas cm base nos dados existentes

df["percentual_vitorias"] = (df["won"] / df["played"])* 100
df["media_gols_marcados"] = df["goals"] / df["played"]
df["media_gols_sofridos"] = df["goals_taken"]/df["played"]

#visualizando os dados
df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,percentual_vitorias,media_gols_marcados,media_gols_sofridos
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,67.391304,2.217391,1.021739
1,2003,2,Santos,87,46,25,12,9,93,60,33,54.347826,2.021739,1.304348
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,47.826087,1.760870,1.456522
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,41.304348,1.152174,0.804348
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,45.652174,1.456522,1.260870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4,26.315789,1.157895,1.263158
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6,28.947368,1.052632,1.210526
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19,23.684211,1.105263,1.605263
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29,18.421053,0.763158,1.526316
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20,15.789474,0.763158,1.289474

In [10]:
#filtrando o dataset com os campeôes de cada ano
filtro_campeos = df["place"] == 1

#aplicando filtro ao dataset
df_campeoes = df[filtro_campeos]

df_campeoes

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,percentual_vitorias,media_gols_marcados,media_gols_sofridos
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,67.391304,2.217391,1.021739
24,2004,1,Santos,89,46,27,8,11,103,58,45,58.695652,2.239130,1.260870
48,2005,1,Corinthians,81,42,24,9,9,87,59,28,57.142857,2.071429,1.404762
70,2006,1,São Paulo,78,38,22,12,4,66,32,34,57.894737,1.736842,0.842105
90,2007,1,São Paulo,77,38,23,8,7,55,19,36,60.526316,1.447368,0.500000
110,2008,1,São Paulo,75,38,21,12,5,66,36,30,55.263158,1.736842,0.947368
130,2009,1,Flamengo,67,38,19,10,9,58,44,14,50.000000,1.526316,1.157895
150,2010,1,Fluminense,71,38,20,11,7,62,36,26,52.631579,1.631579,0.947368
170,2011,1,Corinthians,71,38,21,8,9,53,36,17,55.263158,1.394737,0.947368
190,2012,1,Fluminense,77,38,22,11,5,61,33,28,57.894737,1.605263,0.868421
210,2013,1,Cruzeiro,76,38,23,7,8,77,37,40,60.526316,2.026316,0.973684
230,2014,1,Cruzeiro,80,38,24,8,6,67,38,29,63.157895,1.763158,1.000000
250,2015,1,Corinthians,81,38,24,9,5,71,31,40,63.157895,1.868421,0.815789
270,2016,1,Palmeiras,80,38,24,8,6,62,32,30,63.157895,1.631579,0.842105
290,2017,1,Corinthians,72,38,21,9,8,50,30,20,55.263158,1.315789,0.789474
310,2018,1,Palmeiras,80,38,23,11,4,64,26,38,60.526316,1.684211,0.684211
330,2019,1,Flamengo,90,38,28,6,4,86,37,49,73.684211,2.263158,0.973684
350,2020,1,Flamengo,71,38,21,8,9,68,48,20,55.263158,1.789474,1.263158
370,2021,1,Atlético Mineiro,84,38,26,6,6,67,34,33,68.421053,1.763158,0.894737
390,2022,1,Palmeiras,81,38,23,12,3,66,27,39,60.526316,1.736842,0.710526
410,2023,1,Palmeiras,70,38,20,10,8,64,33,31,52.631579,1.684211,0.868421
430,2024,1,Botafogo,79,38,23,10,5,59,29,30,60.526316,1.552632,0.763158

In [12]:
#descobrindo o time que mais foi campeão
df_campeoes["team"].mode()

0    Corinthians
1      Palmeiras
Name: team, dtype: object

In [15]:
#analisando estatísticas e padrôes dos campeões
df_campeoes.groupby("team")["place"].count().sort_values(ascending=False)

team
Corinthians         4
Palmeiras           4
Cruzeiro            3
Flamengo            3
São Paulo           3
Fluminense          2
Atlético Mineiro    1
Botafogo            1
Santos              1
Name: place, dtype: int64

In [16]:
#analisando estatísticas e padrôes dos campeões
df_campeoes.describe()

,season,place,points,played,won,draw,loss,goals,goals_taken,goals_diff,percentual_vitorias,media_gols_marcados,media_gols_sofridos
count,22.000000,22.0,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,2013.500000,1.0,78.636364,38.909091,23.181818,9.090909,6.636364,68.818182,36.454545,32.363636,59.524800,1.758448,0.930766
std,6.493587,0.0,7.556426,2.447722,2.839121,1.874874,2.127942,14.154375,9.703840,10.106789,5.589974,0.264445,0.206353
min,2003.000000,1.0,67.000000,38.000000,19.000000,6.000000,3.000000,50.000000,19.000000,14.000000,50.000000,1.315789,0.500000
25%,2008.250000,1.0,72.750000,38.000000,21.000000,8.000000,5.000000,61.250000,31.250000,28.000000,55.263158,1.611842,0.822368
50%,2013.500000,1.0,78.500000,38.000000,23.000000,9.000000,6.500000,66.000000,35.000000,30.500000,59.610984,1.736842,0.921053
75%,2018.750000,1.0,81.000000,38.000000,24.000000,10.750000,8.000000,70.250000,37.750000,38.750000,62.500000,1.848684,0.993421
max,2024.000000,1.0,100.000000,46.000000,31.000000,12.000000,11.000000,103.000000,59.000000,55.000000,73.684211,2.263158,1.404762

In [20]:
#Qual foi o melhor campeão dos últimos anos?
indice_maior_campeão = df_campeoes["percentual_vitorias"].idxmax()
df_campeoes.loc[indice_maior_campeão]

season                      2019
place                          1
team                    Flamengo
points                        90
played                        38
won                           28
draw                           6
loss                           4
goals                         86
goals_taken                   37
goals_diff                    49
percentual_vitorias    73.684211
media_gols_marcados     2.263158
media_gols_sofridos     0.973684
Name: 330, dtype: object

In [ ]:
#Qual foi time teve a defesa mais sólida?
indice_defesa = df_campeoes["media_gols_sofridos"].idxmin()
df_campeoes.loc[indice_defesa]

season                      2007
place                          1
team                   São Paulo
points                        77
played                        38
won                           23
draw                           8
loss                           7
goals                         55
goals_taken                   19
goals_diff                    36
percentual_vitorias    60.526316
media_gols_marcados     1.447368
media_gols_sofridos          0.5
Name: 90, dtype: object